.table-container {
  height: calc(100vh - (370px));
  overflow: auto;
  box-shadow: 0px 0px 15px 1px lightgray;
}

mat-card {
  background-color: var(--mat-sys-surface-container) !important;
  height: 100%;
  border: none;
  // border: solid 1px var(--mat-sys-surface-container);
  // box-shadow: 0px 0px 15px 1px lightgray;
  border-radius: 0px;
}

mat-card-header {
  font-size: medium;
  padding: 12px;
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
}

mat-card {
  height: 100%;
  border: 0px;
}

mat-card-content {
  height: 100%;
}

.stations-container {
  display: flex;
  gap: 16px;
  margin: 5px 0;
}

.stations-column {
  flex: 1;

  mat-list {
    padding: 0;
    margin-top: 10px;
  }

  mat-list-item {
    border: solid 1px var(--mat-sys-surface-variant);
    height: auto;
    margin-bottom: 12px;

    background-color: var(--mat-sys-surface-container) !important;
    color: var(--mat-sys-on-surface);
  }
}

.mat-mdc-slide-toggle {
  transform: scale(1);
}

mat-card-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; // Allows items to wrap to next line
}

.mat-col {
  flex: 1;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  margin-bottom: 15px;
}
