.dialog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: hidden;
}

h2 {
  padding: 16px;
}

.dialog-container {
  /* WE ADD A 5px MARGIN AROUND THE ELEMENTS*/
  background-color: var(--mat-sys-surface-container) !important;
}
