

  <div class="card">
    <div class="card-header">
      Please Log In
    </div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert" *ngIf="alertMessage!=''">
        {{alertMessage}}
      </div>
      <form autocomplete="off" (keyup.enter)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" [formControl]="formGrp.controls.username" class="form-control" id="username" autofocus (focus)="alertMessage='';" autocomplete="username">

        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [formControl]="formGrp.controls.password" class="form-control" id="password"  (focus)="alertMessage='';" autocomplete="current-password">
        </div>


      </form>
      <button type="button" style="width:100%" class="btn btn-primary"(click)="onSubmit()" >Submit</button>

      <!-- <div style="margin-top:20px;border-top:solid lightgray 1px;padding: 15px;">
        <div class="row">
          <div class="col">
            <a [routerLink]="['/newuser']" >Create New User</a>
          </div>

          <div class="col" style="text-align: right;">
            <a [routerLink]="['/forgotpassword']" >Forgot Your Password?</a>
          </div>
        </div>

      </div> -->
    </div>

  </div>



