/* filepath: c:\Users\rober\repos\customer-projects\georges-rogers\georges-rogers-app\src\app\reports\sizer\histogram\histogram.component.scss */
.chart-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 400px);

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}
