<div class="sidenav-container">
  <div class="sidenav-header">
    <a href="https://www.weightechinc.com" class="logo-link">
      <img src="../assets/wt_logo_trans_001.png" alt="Weightech Inc Logo" class="logo-image" />
    </a>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Menu</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-list>
    <mat-accordion class="example-headers-align" multi="false">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Coneline</mat-panel-title>
          <!-- <mat-panel-description> </mat-panel-description> -->
        </mat-expansion-panel-header>

        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/yields-viewer/summary']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="summarize"></mat-icon>
            Summary
          </div>
        </mat-list-item>
        <!-- <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/yield-viewer/details']" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon svgIcon="list_alt"></mat-icon>
          Details
        </div>
      </mat-list-item> -->
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Distribution</mat-panel-title>
          <!-- <mat-panel-description> </mat-panel-description> -->
        </mat-expansion-panel-header>

        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/distribution-viewer/summary']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="summarize"></mat-icon>
            Summary
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/distribution-viewer/details']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="list_alt"></mat-icon>
            Details
          </div>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Sizer</mat-panel-title>
          <!-- <mat-panel-description> </mat-panel-description> -->
        </mat-expansion-panel-header>

        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/sizer-viewer/summary']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="summarize"></mat-icon>
            Summary
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/sizer-viewer/details']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="list_alt"></mat-icon>
            Details
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/sizer-viewer/rate']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="show_chart"></mat-icon>
            Rate
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/sizer-viewer/histogram']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="bar_chart"></mat-icon>
            Histogram
          </div>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Caseweigher</mat-panel-title>
          <!-- <mat-panel-description> </mat-panel-description> -->
        </mat-expansion-panel-header>

        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/caseweigher-viewer/summary']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="summarize"></mat-icon>
            Summary
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/caseweigher-viewer/details']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="list_alt"></mat-icon>
            Details
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/caseweigher-viewer/rate']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="show_chart"></mat-icon>
            Rate
          </div>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Floor scale</mat-panel-title>
          <!-- <mat-panel-description> </mat-panel-description> -->
        </mat-expansion-panel-header>

        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/floorscale-viewer/summary']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="summarize"></mat-icon>
            Summary
          </div>
        </mat-list-item>
        <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/floorscale-viewer/details']" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon svgIcon="list_alt"></mat-icon>
            Details
          </div>
        </mat-list-item>
        <!-- <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/caseweigher-viewer/rate']" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon svgIcon="show_chart"></mat-icon>
          Rate
        </div>
      </mat-list-item> -->
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Trimline</mat-panel-title>
          <!-- <mat-panel-description> </mat-panel-description> -->
        </mat-expansion-panel-header>

        <mat-list-item [routerLink]="['/trimline-viewer/summary']">
          <div class="nav-item">
            <mat-icon svgIcon="summarize"></mat-icon>
            Summary
          </div></mat-list-item
        >
        <mat-list-item [routerLink]="['/home/stations']"
          ><div class="nav-item">
            <mat-icon svgIcon="toggle_on"></mat-icon>
            Stations
          </div></mat-list-item
        >
        <!-- <mat-list-item [routerLink]="['/home/diagnostics']">Diagnostics</mat-list-item> -->
        <mat-list-item [routerLink]="['/qc-login']"
          ><div class="nav-item">
            <mat-icon svgIcon="fact_check"></mat-icon>
            QC Login
          </div></mat-list-item
        >
      </mat-expansion-panel>

      <mat-list-item class="nav-section-item" mat-ripple [routerLink]="['/servers']" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon svgIcon="storage"></mat-icon>
          Servers
        </div>
      </mat-list-item>

      <mat-list-item class="nav-section-item" mat-ripple (click)="toggleDarkMode()">
        <div class="nav-item">
          @if(this.homeService.isDarkMode()) {
          <mat-icon svgIcon="light_mode"></mat-icon>
          } @else {
          <mat-icon svgIcon="dark_mode"></mat-icon>
          } Mode
        </div>
      </mat-list-item>
    </mat-accordion>
  </mat-list>
</div>
