<div class="keypad-container">
  <div class="input-display">
    <span class="input-text">{{ displayBox }}</span>
  </div>

  <mat-grid-list cols="3" rowHeight="90px" gutterSize="16px">
    @for (row of keys; track row) { @for (key of row; track key) {
    <mat-grid-tile>
      <button mat-stroked-button class="key-button" matRipple (click)="onKeyPress(key)">
        {{ key }}
      </button>
    </mat-grid-tile>
    } }

    <mat-grid-tile>
      <button mat-stroked-button class="key-button" matRipple (click)="onKeyPress('X')" aria-label="Delete">
        <mat-icon svgIcon="undo"></mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-stroked-button class="key-button" matRipple (click)="onKeyPress('0')">0</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-stroked-button class="key-button" matRipple (click)="onKeyPress('E')" aria-label="Enter">
        <mat-icon svgIcon="login"></mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
